.container4{
    background: url('../public/img/snake.jpg');
    /* background-size: 650px 650px; */
    height: 582px;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.score{
    color: #fff;
}
.board{
    display: grid;
    grid-template-columns: repeat(20,20px);
    grid-template-rows: repeat(20,20px);
    gap: 1px;
    width: max-content;
}
.cell{
    background-color: #d6f9c4;
    height: 25px;
    width: 25px;
}
.food{
    background-color: red;
}
.snake4{
    background-color: green;
}
.snakeHead{
    background-color: #111;
}
.buttonApp4{
    margin-bottom: 10px;
    height: 28px;
    padding: 4px;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
}